/*

  CS323 Who Cares Style Sheet

*/

body {
  background-color: white;
}

/**** page-specific body classes-- for changing colors mainly ****/

body.homePage {
  /* background-color: white; */
}

body.profilePage {
   background-color: #white
}

body.connectionsPage{
  background-color: #white;
}

body.bookmarksPage {
   background-color: #white;
}

body.dotsPage {
   background-color: #white;
}

body.aboutPage {
   background-color: #white;
}

/***** nav bar ******** for font/color changes ********/

.navbar-brand {
  font-family: "Lucida Grande", Monaco, monospace;
}

.navbar-nav {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/***** header/body content of pages ********/

.pageHeader {
  background-color: white;
  margin: 10px;
  padding: 10px;

  width: 1660px;
  float: left;

  border-style: outset;
}

.title {
  color: black;
  font-family: "Lucida Grande", Monaco, monospace;
}

.subtitle {
  color: black;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.sectionTitle {
  color: black;
  font-family: "Lucida Grande", Monaco, monospace;
}

.sectionBody {
  color: black;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/******** home page ***********/
#homeMargin {
  width: 1600px;
  margin: 0 auto;
}

/******** profile page ***********/
#profileMargin {
  width: 1600px;
  margin: 0 auto;
}

/******** connections page ***********/

#connectionsMargin {
  width: 1500px;
  margin: 0 auto;
}

.connectionsWeb {
  background-color: white;
  font-family: "Lucida Grande", Monaco, monospace;
  margin: 10px;
  padding: 10px;
  border-style: outset;
  border-width: 5px;

  width: 700px;
  height: 650px;
  float: left;
}

.connectionsList{
  background-color: white;
  font-family: "Lucida Grande", Monaco, monospace;
  margin: 10px;
  padding: 10px;
  float: right;
  border-style: outset;
  border-width: 5px;

  width: 700px;
  height: 650px;

}

/******** bookmarks page ***********/
#bookmarksMargin {
  width: 1800px;
  margin: 0 auto;
}


/******** dots page ***********/
#dotsMargin {
  width: 1600px;
  margin: 0 auto;
}

/******** about page ***********/
#aboutMargin {
  width: 1600px;
  margin: 0 auto;
}

#aboutMargin {
  width: 1500px;
  margin: 0 auto;
}

.aboutWeb {
  background-color: white;
  font-family: "Lucida Grande", Monaco, monospace;
  margin: 10px;
  /* padding: 10px; */
  align: center;
  border-style: outset;
  border-width: 5px;

  width: 700px;
  height: 650px;
  float: left;
}

.aboutList{
  background-color: white;
  font-family: "Lucida Grande", Monaco, monospace;
  margin: 10px;
  padding: 10px;
  float: right;
  border-style: outset;
  border-width: 5px;

  width: 700px;
  height: 800px;

}

.menu-container{
  display:flex;
}

#whoCaresLogo{
  width: 600px;
  margin-left: 40px;
  margin-top: 100px;

}

/*
below is code that was here before.... NO clue what it does so let's nix it when we can

body {color: rgba(0,0,0,0.87); font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; }
#message { background: white; max-width: 360px; margin: 100px auto 16px; padding: 32px 24px; border-radius: 3px; }
#message h2 { color: black; font-weight: bold; font-size: 16px; margin: 0 0 8px; text-align: center;}
#message h1 { font-size: 22px; font-weight: 300; color: rgba(0,0,0,0.6); margin: 0 0 16px;}
#message p { line-height: 140%; margin: 16px 0 24px; font-size: 14px; }
#message a { display: block; text-align: center; text-transform: uppercase; text-decoration: none; color: white; padding-: 16px; border-radius: 4px; }
#message, #message a { box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); } */
/* #message {display: flex; justify-content: center;}  */
/* #load { color: rgba(0,0,0,0.4); text-align: center; font-size: 13px; } */
/* #welcome { margin-left: 20px; margin-right: 50px; border: 2px solid black;border-radius: 5px; padding-bottom: 20px; padding-top: 20px;}
#connection-info { margin-left: 50px; border: 2px solid black;border-radius: 5px; padding-bottom: 20px; padding-top: 20px;}
@media (max-width: 600px) {
  body, #message { margin-top: 0; background: white; box-shadow: none; }
  body { border-top: 16px solid #ffa100; }
  #welcome {color: black; font-weight: bold; font-size: 16px;}
*/
